/* About section*/

.about-section {
    margin: 0 20px;
  
  }
  
  .about-section .navigation {
    margin-bottom: 20px;
  }
  
  .computer-hand {
    width: 100%;
  }
  
  .computer-hand.no-logos {
    display: none;
  }
  
  .about-section p {
    margin: 20px auto;
    font-weight: 700;
    width: 255px;
  }
  