html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #ffd42aff;
}

h1 {
  margin: 0;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 2.5rem;
  color: #ffd42aff;
}

h2 {
  font-family: "Heebo";
  font-size: 2rem;
}

p {
  font-family: "Heebo";
  font-size: 1rem;
}

.computer {
  background: url(../wireframes/Computer.svg) no-repeat center;
  background-size: contain;
  height: 600px;
  display: block;
  margin: 200px 0;
}

.screen-objects {

}

.screen-heading {
    padding: 70px 0px;
    text-align: center;
}

.logos {
    margin: 46px 0 0 220px;
}

.logos img {
  display: inline-block;
}

.linkedin {
  margin: 0 15px;
}

.envelope {
    margin: 15px 0 0 218px;
}