$primary-color: #ffd42aff;
$secondary-color: #0b4541ff;
$contrast-color: rgb(209, 75, 75);

@import "./work-section.scss", "./graphic-design-section.scss", "./about-section.scss", "./home-section.scss",
  "./navigation.scss", "./404.scss";

html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  background-color: $primary-color;
  color: $secondary-color;
}

h1 {
  margin: 0;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 11.5pt;
  color: $primary-color;
}

h2 {
  font-family: "Heebo";
  font-size: 2rem;
}

p {
  font-family: "Heebo";
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s ease;
}

a:hover {
  color: $contrast-color;
}

.green-block {
  background-color: $secondary-color;
  color: $primary-color;
}

  /*Large devices (desktops, 992px and up)*/
  @media (min-width: 925px) {
   p {
     font-size: 20px;
   }   
  }