.work {
  display: block;
  width: 100%;
  margin: 0;
  color: #ffd42aff;
}

.work .navigation {
  color: #ffd42aff;
}

.divider-line {
  border-bottom: solid 3px #ffd42aff;
  margin: 20px 0;
}

.divider-line.first {
  margin: 0 0 20px 0;
}

.portfolio-section {
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.socialist-alternative {
  grid-template-columns: 1.3fr 1fr;
}

.cocktail-maker {
  grid-template-columns: 1fr 1.3fr;
  padding-bottom: 20px;
}

.work-title {
  grid-area: 1/1/1/3;
  font-size: 3rem;
  margin: 0;
  letter-spacing: 3px;
}

.work-title h2 {
  font-size: 1.8rem;
  margin: 0;
}

.image-2 {
  width: 100%;
  grid-area: 2/1/2/3;
}

.image-3 {
  width: 100%;
  grid-area: 3/1/3/2;
}

.image-4 {
  width: 100%;
  grid-area: 3/2/3/3;
}

.image-1 {
  width: 100%;
  grid-area: 4/1/4/3;
}

.back-to-top {
  text-align: center;
  padding-bottom: 20px;
}

.bottom-block {
  padding: 10px 0;
  margin-bottom: 0;
}
.bottom-block p {
  padding: 0;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .work {
    background-color: #450b2b;
  }

  .work-title h2 {
    font-size: 3rem;
    letter-spacing: 5px;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .work {
    background-color: #451b0b;
  }

  .portfolio-section {
    grid-gap: 20px;
  }

  .socialist-alternative {
    overflow: hidden;
    grid-template-columns: 4.15fr 1.83fr 2.215fr 1.694fr;
  }

  .cocktail-maker {
    overflow: hidden;
    grid-template-columns: 4.15fr 0.82fr 1.894fr 2.43fr;
  }

  .image-1 {
    width: 100%;
    grid-area: 1/1/1/1;
  }

  .work-title {
    grid-area: 1/2/1/5;
    width: min-content;
  }

  .work-title h2 {
    font-size: 3.5rem;
    margin: auto;
    letter-spacing: 6px;
  }

  .image-2 {
    width: 100%;
    grid-area: 2/1/2/3;
  }

  .image-3 {
    width: 100%;
    grid-area: 2/3/2/3;
  }

  .image-4 {
    width: 100%;
    grid-area: 2/4/2/4;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .work {
    background-color: #0b4541ff;
  }

  .work-title h2 {
    font-size: 5rem;
  }
}
/* About section*/
.about-section {
  margin: 0 20px;
}

.about-section .navigation {
  margin-bottom: 20px;
}

.computer-hand {
  width: 100%;
}

.computer-hand.no-logos {
  display: none;
}

.about-section p {
  margin: 20px auto;
  font-weight: 700;
  width: 255px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .about-section {
    margin: 0 20px 40px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .about-section {
    grid-template-columns: 2fr 1fr;
    grid-gap: 0;
    align-items: unset;
  }
  .about-section p {
    margin: 100% 0 0 0;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 925px) {
  .about-section p {
    margin: 100% 0 0 -8%;
    width: 105%;
  }
}
.home {
  min-height: 100vh;
}

.computer {
  background: url(./images/Computer.svg) no-repeat center;
  background-size: contain;
  display: block;
  width: 250px;
  height: 192px;
  margin: 40px auto 50px;
}

.screen-objects {
  padding: 12px 38px;
  color: #ffd42aff;
}

.screen-heading {
  text-align: center;
  margin: 24px 0 10px;
}

.top-section,
.bottom-section {
  display: grid;
  grid-template-rows: 1fr 2px 1fr;
  grid-template-columns: 1fr 115px 1fr;
}

.line {
  height: 0;
  border: 1px solid #ffd42aff;
  margin: 0;
  position: relative;
  z-index: 0;
  grid-area: 2/1/2/4;
}

.block {
  height: 4px;
  margin: 0px auto;
  position: relative;
  top: -1px;
  width: 100%;
  z-index: 1;
  grid-area: 2/2/2/2;
  background-color: #0b4541ff;
}

.logos {
  margin: 5px 0 8px;
  padding: 0 6px;
  text-align: center;
  z-index: 10;
  position: relative;
  grid-area: 1/1/4/4;
}

.logos svg {
  display: inline-block;
  padding: 0 4px;
  font-size: 1.4rem;
}

.bottom-section {
  display: none;
}

.arrow {
  display: block;
  margin: 20px auto;
  width: 46px;
}

.arrow path {
  fill: #0b4541ff;
  transition: fill 0.5s ease;
}

.arrow:hover path {
  fill: #d14b4b;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .computer {
    background: url(./images/Computer.svg) no-repeat center;
    background-size: contain;
    display: block;
    width: 370px;
    height: 285px;
  }

  .screen-heading {
    text-align: center;
    margin: 49px 0 18px;
    font-size: 23px;
  }

  .arrow {
    display: block;
    margin: 20px auto;
    width: 46px;
  }

  .logos img {
    display: inline-block;
    height: 33px;
    padding: 0 6px;
  }

  .line {
    margin: 0 13px;
    width: 90%;
  }

  .block {
    width: 82px;
    margin: 0px 8px 0 11px;
    background-color: #0b4541ff;
  }

  .bottom-section .block {
    width: 21px;
  }

  .top-section .fa-envelope {
    display: none;
  }

  .top-section,
.bottom-section {
    grid-template-columns: 1fr 8fr;
    justify-items: start;
  }

  .bottom-section {
    display: grid;
    margin-top: 3px;
  }

  .logos {
    grid-area: 1/2/4/2;
    margin: 0;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .computer {
    background: url(./images/Computer.svg) no-repeat center;
    background-size: contain;
    display: block;
    width: 663px;
    height: 510px;
  }

  .screen-objects {
    padding: 37px 100px 0;
  }

  .screen-heading {
    text-align: center;
    margin: 76px 0 20px;
    font-size: 36px;
  }

  .top-section,
.bottom-section {
    grid-template-columns: 1fr 10fr;
  }

  .bottom-section {
    margin-top: 10px;
  }

  .logos svg {
    font-size: 2.5rem;
    transition: color 0.5s ease;
    cursor: pointer;
  }

  .logos svg:hover {
    color: #d14b4b;
  }

  .line {
    border: 2px solid #ffd42aff;
    margin: 0px -1px;
    width: 100%;
  }

  .block {
    height: 6px;
    width: 130px;
  }

  .bottom-section .block {
    width: 36px;
  }

  .arrow {
    display: block;
    margin: 40px auto;
    width: 80px;
  }
}
.navigation {
  text-align: center;
  padding: 10px 0;
}

.navigation-div {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}
.navigation-div p {
  z-index: 2;
  position: relative;
}

.circle {
  border: #ffd42aff 1px solid;
}

.color-block {
  background-color: #0b4541ff;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  position: relative;
}

.color-block {
  height: 14px;
  margin-top: -32px;
  z-index: 1;
  position: relative;
}

.yellow-block .circle {
  border: #0b4541ff 1px solid;
}
.yellow-block .color-block {
  background-color: #ffd42aff;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .navigation {
    text-align: right;
  }

  .navigation p {
    display: inline-block;
    padding: 0 8px;
    margin: 7px 15px 27px;
  }

  .color-block {
    margin-top: -44px;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .navigation p {
    display: inline-block;
    padding: 0 8px;
    margin: 14px 14px;
    font-size: 18px;
  }

  .color-block {
    margin-top: -39px;
    height: 20px;
  }

  .yellow-block .circle {
    border: #0b4541ff 1px solid;
  }

  .circle {
    width: 30px;
    height: 30px;
    margin-top: -25px;
  }
}
html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  background-color: #ffd42aff;
  color: #0b4541ff;
}

h1 {
  margin: 0;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 11.5pt;
  color: #ffd42aff;
}

h2 {
  font-family: "Heebo";
  font-size: 2rem;
}

p {
  font-family: "Heebo";
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s ease;
}

a:hover {
  color: #d14b4b;
}

.green-block {
  background-color: #0b4541ff;
  color: #ffd42aff;
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 925px) {
  p {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
