html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffd42aff;
}

h1 {
  margin: 0;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 11.5pt;
  color: #ffd42aff;
}

h2 {
  font-family: "Heebo";
  font-size: 2rem;
}

p {
  font-family: "Heebo";
  font-size: 1rem;
  color: #0b4541ff;
}

.navigation {
    text-align: center;
}

.navigation p {
    display: inline-block;
    padding: 0 25px;
}

.computer {
  background: url(../wireframes/Computer.svg) no-repeat center;
  background-size: contain;
  display: block;
  width: 250px;
  height: 192px;
  margin: 10px auto;
}

.screen-objects {
    padding: 12px 38px;

}

.screen-heading {
    text-align: center;
    margin: 24px 0 10px;
}

.line {
    height: 0;
    border: 1px solid  #ffd42aff;
    margin: 0;
    position: relative;
    top: 20px;
    z-index: 0;
}

.block {
    height: 4px;
    margin: 0px auto;
    position: relative;
    top: 17px;
    width: 123px;
    z-index: 1;
    background-color: #0b4541ff;
}

.logos {
    margin: 5px 0 8px;
    padding: 0 6px;
    text-align: center;
    z-index: 10;
    position: relative;
}

.logos img {
  display: inline-block;
  height: 20px;
  padding: 0 4px;
}

.linkedin {
 
}
.logos .envelope  /*envelope in logos line*/ {

}


.envelope img /*envelope on its own line*/ {
    height: 17px;
    display: none;
}

.arrow {
    display: block;
    margin: 20px auto;
    width: 46px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .computer {
        margin: 23px auto;
      }

      .navigation p {
        display: inline-block;
        padding: 0 80px;
}